<div class="card my-5">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Segmentum</th>
            <th scope="col">Class</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let planet of planets">
            <td>{{ planet.id }}</td>
            <td>{{ planet.name }}</td>
            <td>{{ planet.segmentum }}</td>
            <td>{{ planet.pClass }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>