<div class="card my-5">
  <div class="card-body">
    <button type="button" class="btn btn-primary mb-3" (click)="generateAllRandomFields()">Generate All Random Fields</button>
    <form (ngSubmit)="onSubmit()" #chapterForm="ngForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" [(ngModel)]="chapter.name" class="form-control" id="name" name="name" placeholder="Enter chapter name" required>
      </div>

      <div class="form-group">
        <label for="whyFounded">whyFounded</label>
        <div class="input-group">
          <textarea [(ngModel)]="chapter.whyFounded" class="form-control" id="whyFounded" name="whyFounded" placeholder="Enter whyFounded" readonly></textarea>
          <div class="input-group-append">
            <button type="button" class="btn" [ngClass]="{'btn-secondary': !lockedFields['whyFounded'], 'btn-danger': lockedFields['whyFounded']}" (click)="toggleLock('whyFounded')">
              {{ lockedFields['whyFounded'] ? '🔒' : '🔓' }}
            </button>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="whenFounded">whenFounded</label>
        <div class="input-group">
          <textarea [(ngModel)]="chapter.whenFounded" class="form-control" id="whenFounded" name="whenFounded" placeholder="Enter whenFounded" readonly></textarea>
          <div class="input-group-append">
            <button type="button" class="btn" [ngClass]="{'btn-secondary': !lockedFields['whenFounded'], 'btn-danger': lockedFields['whenFounded']}" (click)="toggleLock('whenFounded')">
              {{ lockedFields['whenFounded'] ? '🔒' : '🔓' }}
            </button>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="progenitor">progenitor</label>
        <div class="input-group">
          <textarea [(ngModel)]="chapter.progenitor" class="form-control" id="progenitor" name="progenitor" placeholder="Enter progenitor" readonly></textarea>
          <div class="input-group-append">
            <button type="button" class="btn" [ngClass]="{'btn-secondary': !lockedFields['progenitor'], 'btn-danger': lockedFields['progenitor']}" (click)="toggleLock('progenitor')">
              {{ lockedFields['progenitor'] ? '🔒' : '🔓' }}
            </button>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="gsPurity">Gene Seed Purity</label>
        <div class="input-group">
          <textarea [(ngModel)]="chapter.gsPurity" class="form-control" id="gsPurity" name="gsPurity" placeholder="Enter Gene Seed Purity" readonly></textarea>
          <div class="input-group-append">
            <button type="button" class="btn" [ngClass]="{'btn-secondary': !lockedFields['gsPurity'], 'btn-danger': lockedFields['gsPurity']}" (click)="toggleLock('gsPurity')">
              {{ lockedFields['gsPurity'] ? '🔒' : '🔓' }}
            </button>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="demeanour">Demeanour</label>
        <div class="input-group">
          <textarea [(ngModel)]="chapter.demeanour" class="form-control" id="demeanour" name="demeanour" placeholder="Enter demeanour" readonly></textarea>
          <div class="input-group-append">
            <button type="button" class="btn" [ngClass]="{'btn-secondary': !lockedFields['demeanour'], 'btn-danger': lockedFields['demeanour']}" (click)="toggleLock('demeanour')">
              {{ lockedFields['demeanour'] ? '🔒' : '🔓' }}
            </button>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="figureOfLegend">figureOfLegend</label>
        <div class="input-group">
          <textarea [(ngModel)]="chapter.figureOfLegend" class="form-control" id="figureOfLegend" name="figureOfLegend" placeholder="Enter figureOfLegend" readonly></textarea>
          <div class="input-group-append">
            <button type="button" class="btn" [ngClass]="{'btn-secondary': !lockedFields['figureOfLegend'], 'btn-danger': lockedFields['figureOfLegend']}" (click)="toggleLock('figureOfLegend')">
              {{ lockedFields['figureOfLegend'] ? '🔒' : '🔓' }}
            </button>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="deedsOfLegend">deedsOfLegend</label>
        <div class="input-group">
          <textarea [(ngModel)]="chapter.deedsOfLegend" class="form-control" id="deedsOfLegend" name="deedsOfLegend" placeholder="Enter deedsOfLegend" readonly></textarea>
          <div class="input-group-append">
            <button type="button" class="btn" [ngClass]="{'btn-secondary': !lockedFields['deedsOfLegend'], 'btn-danger': lockedFields['deedsOfLegend']}" (click)="toggleLock('deedsOfLegend')">
              {{ lockedFields['deedsOfLegend'] ? '🔒' : '🔓' }}
            </button>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="beliefs">beliefs</label>
        <div class="input-group">
          <textarea [(ngModel)]="chapter.beliefs" class="form-control" id="beliefs" name="beliefs" placeholder="Enter beliefs" readonly></textarea>
          <div class="input-group-append">
            <button type="button" class="btn" [ngClass]="{'btn-secondary': !lockedFields['beliefs'], 'btn-danger': lockedFields['beliefs']}" (click)="toggleLock('beliefs')">
              {{ lockedFields['beliefs'] ? '🔒' : '🔓' }}
            </button>
          </div>
        </div>
      </div>

      <button type="submit" [disabled]="!chapterForm.form.valid" class="btn btn-info">Submit</button>
    </form>
  </div>
</div>