<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-5">
        <div class="card-body">
          <h2 class="card-title text-center text-white py-3">{{ title }}</h2>
          <ul class="text-center list-inline py-3">
            <li class="list-inline-item">
              <a routerLink="/chapters" class="btn btn-info">List Chapters</a>
                </li>
            <li class="list-inline-item">
              <a routerLink="/addchapter" class="btn btn-info">Add Chapter</a>
                </li>
            <li class="list-inline-item">
              <a routerLink="/planets" class="btn btn-info">List Planets</a>
                </li>
            <li class="list-inline-item">
              <a routerLink="/addplanet" class="btn btn-info">Add Planet</a>
                </li>
          </ul>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>